mixin footer(data)
  footer.footer
    .footer__container.container
      .footer__col
        a.footer__phone.phone(href="tel:+79064925691") +7(906) 492-56-91
        nav.footer__nav.nav.nav_secondary
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") Политика конфиденциальности
            li.nav__item
              a.nav__link(href="#") Публичная оферта
            li.nav__item
              a.nav__link(href="#") Реквизиты

        small.footer__copyright (с) 2019-2020 Консалтинговая компания высшего класса

      nav.footer__nav.nav.nav_secondary
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") Кредитные карты
          li.nav__item
            a.nav__link(href="#") Овердрафт
          li.nav__item
            a.nav__link(href="#") Найти банк - партнёр
          li.nav__item
            a.nav__link(href="#") Эквайринг для бизнеса
          li.nav__item
            a.nav__link(href="#") Статьи


      nav.footer__nav.nav.nav_secondary
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") Регистрация ООО
          li.nav__item
            a.nav__link(href="#") Регистрация ИП
          li.nav__item
            a.nav__link(href="#") Бухгалтерский аутсорсинг
          li.nav__item
            a.nav__link(href="#") Открыть расчётный счёт
          li.nav__item
            a.nav__link(href="#") О компании

