mixin cta(data)
  section.cta
    .cta__container.container
      .cta__w(style="background-image:url('assets/images/general/cta-bg.png');")
        h2.cta__title Не можете <span>определиться</span>?
        .cta__text Оставьте заявку и вам сразу перезвонит наш консультант. 
        button.cta__button.button.button_additional Консультация
  