mixin hero(data)
  section.hero&attributes(attributes)
    .hero__container.container
      .hero__slider.slider
        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые <span>услуги</span> для бизнеса в Москве

            .hero__text Маркетинговые исследования, <br/>регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button.button_primary(href="#") Оставить заявку

          figure.hero__image
            img.lazy(data-srcset="assets/images/content/hero-image.png 1x, assets/images/content/hero-image@2x.png 2x, assets/images/content/hero-image@3x.png 3x" alt="")


        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые <span>услуги</span> для бизнеса в Москве

            .hero__text Маркетинговые исследования, <br/>регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button.button_primary(href="#") Оставить заявку

          figure.hero__image
            img.lazy(data-srcset="assets/images/content/hero-image.png 1x, assets/images/content/hero-image@2x.png 2x, assets/images/content/hero-image@3x.png 3x" alt="")


        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые <span>услуги</span> для бизнеса в Москве

            .hero__text Маркетинговые исследования, <br/>регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button.button_primary(href="#") Оставить заявку

          figure.hero__image
            img.lazy(data-srcset="assets/images/content/hero-image.png 1x, assets/images/content/hero-image@2x.png 2x, assets/images/content/hero-image@3x.png 3x" alt="")

          

