mixin hero(data)
  section.hero&attributes(attributes)
    .hero__container.container
      .hero__slider.slider
        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые <span>услуги</span> для бизнеса в Москве

            .hero__text Маркетинговые исследования, регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button(href="#") Оставить заявку

          .hero__image
            img(src="assets/images/content/services-icon-1.png" srcset="assets/images/content/services-icon-1@2x.png 2x, assets/images/content/services-icon-1@3x.png 3x" alt="")

        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые услуги для бизнеса в Москве

            .hero__text Маркетинговые исследования, регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button(href="#") Оставить заявку

          .hero__image
            img(src="assets/images/content/services-icon-1.png" srcset="assets/images/content/services-icon-1@2x.png 2x, assets/images/content/services-icon-1@3x.png 3x" alt="")

        .hero__item
          .hero__entry
            .hero__title.title.title_biggest Консалтинговые услуги для бизнеса в Москве

            .hero__text Маркетинговые исследования, регистрация компании, открытие счёта, буxгалтерское обслуживание и ведение под ключ. От бизнес - плана до инвестиций
     
            a.hero__button.button(href="#") Оставить заявку

          .hero__image
            img(src="assets/images/content/services-icon-1.png" srcset="assets/images/content/services-icon-1@2x.png 2x, assets/images/content/services-icon-1@3x.png 3x" alt="")
