.title
  font-family: $m 
  font-style: normal
  text-align: left
  &_biggest
    font-size: 36px
    font-weight: 900
    line-height: 1

    +mq($small)
      font-size: 50px
    +mq($medium)
      font-size: 70px

  &_regular
    font-family: $u
    font-size: 36px
    font-weight: 500
    line-height: 1

    +mq($small)
      font-size: 50px
    +mq($medium)
      font-size: 70px
      

  span
    color: $skyblue 
  em
    color: $green
    
.text
  font-family: $f
  font-size: 18px
  font-weight: 500
  line-height: 1.2
  letter-spacing: 0.6px
  color: #2d2d2d
  
  +mq($small)
    font-size: 24px
    line-height: 1.5

.button
  @include resetbutton()
  padding-top: 12px
  padding-right: 25px
  padding-bottom: 14px
  padding-left: 25px
  display: inline-block
  vertical-align: top

  height: auto
  background-image: linear-gradient(to right, $green, #49cb5c)

  color: $white
  font-family: $f
  font-size: 28px
  font-weight: bold
  line-height: 1
  text-align: center
  text-decoration: none
  white-space: nowrap
  border-radius: 8px
  +tr(all .3s ease-out)
  
  +mq($small)
    padding-top: 25px
    padding-right: 50px
    padding-bottom: 24px
    padding-left: 50px
    height: 81px


  &:hover
    background-image: linear-gradient(to right, $green, $green)
    +tr(all .3s ease-out)

  &_regular
    border: 2px solid 
    padding-top: 10px
    padding-right: 15px
    padding-bottom: 7px
    padding-left: 15px
    height: auto
    background-image: linear-gradient(to right, $green, #49cb5c)
    font-size: 24px
    line-height: 1
    border-radius: 8px
    box-shadow: 1px 1.7px 7.7px 1.3px rgba(62, 66, 209, 0.3)
    +tr(all .3s ease-out)
    
    +mq($small)
      padding-top: 7px
      padding-right: 30px
      padding-bottom: 7px
      padding-left: 30px
      height: 46px

    &:hover
      background-image: linear-gradient(to right, $green, $green)
      +tr(all .3s ease-out)

  &_additional
    border: 2px solid
    padding-top: 6px
    padding-right: 56px
    padding-bottom: 11px
    padding-left: 56px
    height: 46px
    background: transparent
    color: #cccccc
    font-size: 23px
    font-weight: 500
    line-height: 1
    border-radius: 8px 
    &:hover
      background: transparent
      color: #0197D3
      

.flex
  display: flex
  
.flex_start
  justify-content: flex-start

.flex_center
  justify-content: center
  
.flex_end
  justify-content: flex-end
  
.flex_top
  align-items: flex-start

.flex_vertical
  align-items: center


.flex_wrap
  flex-wrap: wrap


.grid
  overflow: hidden
  &__list
    margin-right: -5px
    margin-left: -5px


.slider

  .slick-arrow
    top: auto
    bottom: 0
    z-index: 1
    width: 100px
    height: auto
    transform: none
    &:before
      background: transparent     
      font-size: 55px
      font-weight: 400
      font-style: italic
      line-height: 1.454
      +tr(all .3s ease)

      
  .slick-prev
    left: 0
    &:before
      content: "←" 
      
  .slick-next
    right: 0
    &:before
      content: "→" 
