mixin trust(data)
  section.trust
    .trust__container.container
      h2.trust__title.title.title_regular Нам <em>доверяют</em> надёжные банки
      .trust__carousel
        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-1.png 1x, assets/images/content/bank-icon-1@2x.png 2x, assets/images/content/bank-icon-1@3x.png 3x" alt="")
            a.trust__button.button.button_(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-2.png 1x, assets/images/content/bank-icon-2@2x.png 2x, assets/images/content/bank-icon-2@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-1.png 1x, assets/images/content/bank-icon-1@2x.png 2x, assets/images/content/bank-icon-1@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-2.png 1x, assets/images/content/bank-icon-2@2x.png 2x, assets/images/content/bank-icon-2@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-1.png 1x, assets/images/content/bank-icon-1@2x.png 2x, assets/images/content/bank-icon-1@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-2.png 1x, assets/images/content/bank-icon-2@2x.png 2x, assets/images/content/bank-icon-2@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-1.png 1x, assets/images/content/bank-icon-1@2x.png 2x, assets/images/content/bank-icon-1@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

        .trust__item
          .trust__w
            figure.trust__image
              img(srcset="assets/images/content/bank-icon-2.png 1x, assets/images/content/bank-icon-2@2x.png 2x, assets/images/content/bank-icon-2@3x.png 3x" alt="")
            a.trust__button.button(href="#") Оставить заявку

      .trust__carousel-nav.flex.flex_vertical.flex_center