.expert
  &__container
    padding-top: 54px
    padding-bottom: 116px
  
  &__title
    margin-bottom: 72px
    text-align: center

  // &__articles

  &__article
    margin-right: auto
    max-width: 421px
    width: 100%
    min-height: 270px
    &:last-child
      margin-right: 0
      
