mixin expert(data)
  section.expert
    .expert__container.container
      h2.expert__title.title.title_regular Статьи от наших экспертов
      .expert__articles.flex.flex_start.flex_top
        article.expert__article.article
          figure.article__image
            a.article__link(href="#")
              img.lazy(data-srcset="assets/images/content/article-img-1.jpg 1x, assets/images/content/article-img-1@2x.jpg 2x, assets/images/content/article-img-1@3x.jpg 3x" alt="")
          .article__content
            h3.article__title
              a.article__link(href="#") Investment News Study 2015 Executive Summary

            .article__text Загрузите результаты исследования, что бы сравнить технологические инвестиции вашей фирмы с этими отраслевыми ориентирами и узать, что вам нужно искать при инвестировании в рост вашей фирмы.

        article.expert__article.article
          figure.article__image
            a.article__link(href="#")
              img.lazy(data-srcset="assets/images/content/article-img-2.jpg 1x, assets/images/content/article-img-2@2x.jpg 2x, assets/images/content/article-img-2@3x.jpg 3x" alt="")
          .article__content
            h3.article__title 
              a.article__link(href="#") Investment News Study 2015 Executive Summary

            .article__text Загрузите результаты исследования, что бы сравнить технологические инвестиции вашей фирмы с этими отраслевыми ориентирами и узать, что вам нужно искать при инвестировании в рост вашей фирмы.

        article.expert__article.article
          figure.article__image
            a.article__link(href="#")
              img.lazy(data-srcset="assets/images/content/article-img-3.jpg 1x, assets/images/content/article-img-3@2x.jpg 2x, assets/images/content/article-img-3@3x.jpg 3x" alt="")
          .article__content
            h3.article__title 
              a.article__link(href="#") Investment News Study 2015 Executive Summary
              
            .article__text Загрузите результаты исследования, что бы сравнить технологические инвестиции вашей фирмы с этими отраслевыми ориентирами и узать, что вам нужно искать при инвестировании в рост вашей фирмы.