mixin practice(data)
  section.practice
    .practice__container.container
      .practice__top.flex.flex_start.flex_top.flex_wrap
        h2.practice__title.title.title_regular Успешная <span>практика</span>

        ul.practice__advantages.advantages
          li.advantages__item.advantages__item_1
            .advantages__icon 
            .advantages__text Быстро <br/>реагируем

          li.advantages__item.advantages__item_2
            .advantages__icon
            .advantages__text Привлекаем <br/>лучших

          li.advantages__item.advantages__item_3
            .advantages__icon
            .advantages__text Не боимся <br/>трудностей

      
      .practice__slider
        .practice__item
          .practice__item-w.flex.flex_start.flex_top.flex_wrap
            figure.practice__image
              img.lazy(data-srcset="assets/images/content/practice-image.png 1x, assets/images/content/practice-image@2x.png 2x, assets/images/content/practice-image@3x.png 3x" alt="")
            .practice__entry
              .practice__entry-w
                .practice__entry-title Ситуация:
                .practice__entry-text заказчик обратился к нам практически паникуя: казалось. что для реабилитации и сохранения компании не оставалось даже шанса.
              .practice__entry-w
                .practice__entry-title Что было сделано:
                ul.practice__entry-list
                  li.practice__entry-item Тотальный аудит с привлечением экспертизы
                  li.practice__entry-item Нашли и привлекли специалистов с необходимыми компетенциями
                  li.practice__entry-item Подключили штат юристов

              .practice__entry-w
                .practice__entry-title Итоги:
                .practice__entry-text компания сохранена, заказчик сохранил девять миллионов рублей, а мы получили бесценный опыт в послужной список

        .practice__item
          .practice__item-w.flex.flex_start.flex_top.flex_wrap
            figure.practice__image
              img.lazy(data-srcset="assets/images/content/practice-image.png 1x, assets/images/content/practice-image@2x.png 2x, assets/images/content/practice-image@3x.png 3x" alt="")
            .practice__entry
              .practice__entry-w
                .practice__entry-title Ситуация:
                .practice__entry-text заказчик обратился к нам практически паникуя: казалось. что для реабилитации и сохранения компании не оставалось даже шанса.
              .practice__entry-w
                .practice__entry-title Что было сделано:
                ul.practice__entry-list
                  li.practice__entry-item Тотальный аудит с привлечением экспертизы
                  li.practice__entry-item Нашли и привлекли специалистов с необходимыми компетенциями
                  li.practice__entry-item Подключили штат юристов

              .practice__entry-w
                .practice__entry-title Итоги:
                .practice__entry-text компания сохранена, заказчик сохранил девять миллионов рублей, а мы получили бесценный опыт в послужной список

        .practice__item
          .practice__item-w.flex.flex_start.flex_top.flex_wrap
            figure.practice__image
              img.lazy(data-srcset="assets/images/content/practice-image.png 1x, assets/images/content/practice-image@2x.png 2x, assets/images/content/practice-image@3x.png 3x" alt="")
            .practice__entry
              .practice__entry-w
                .practice__entry-title Ситуация:
                .practice__entry-text заказчик обратился к нам практически паникуя: казалось. что для реабилитации и сохранения компании не оставалось даже шанса.
              .practice__entry-w
                .practice__entry-title Что было сделано:
                ul.practice__entry-list
                  li.practice__entry-item Тотальный аудит с привлечением экспертизы
                  li.practice__entry-item Нашли и привлекли специалистов с необходимыми компетенциями
                  li.practice__entry-item Подключили штат юристов

              .practice__entry-w
                .practice__entry-title Итоги:
                .practice__entry-text компания сохранена, заказчик сохранил девять миллионов рублей, а мы получили бесценный опыт в послужной список
      
      .practice__slider-nav.flex.flex_center.flex_vertical
    


  